@using PagedList.Mvc
@model PagedList.PagedList<DoAn_LapTrinhWeb.Model.Order>
@{
    ViewBag.Title = "Bảng điều khiển";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var Order = (List<DoAn_LapTrinhWeb.Model.Order>)ViewBag.Order;
    var ListOrderDetail = (List<DoAn_LapTrinhWeb.Model.Oder_Detail>)ViewBag.ListOrderDetail;
    var OrderDetail = (List<DoAn_LapTrinhWeb.Model.Oder_Detail>)ViewBag.OrderDetail;
    var listOrder = (List<DoAn_LapTrinhWeb.Model.Order>)ViewBag.ListOrder;
    DateTime getLastMonth = DateTime.Now.AddMonths(-1);
    double totalOrderThisMonth = Convert.ToDouble(Order.Where(m => m.oder_date.Month == DateTime.Now.Month && m.oder_date.Year == DateTime.Now.Year).Count());
    double totalOrderLastMonth = Convert.ToDouble(Order.Where(m => m.oder_date.Month == getLastMonth.Month).Count());
    double totalPriceOrderThisMonth = Convert.ToDouble(Order.Where(m => m.oder_date.Month == DateTime.Now.Month && m.oder_date.Year == DateTime.Now.Year).Sum(m => m.total));
    double totalPriceOrderLastMonth = Convert.ToDouble(Order.Where(m => m.oder_date.Month == getLastMonth.Month).Sum(m => m.total));
    double percentOrder = ((1) - ((totalOrderLastMonth - totalOrderThisMonth) / (totalOrderLastMonth)));
    double percentPriceOrder = ((1) - ((totalPriceOrderLastMonth - totalPriceOrderThisMonth) / (totalPriceOrderLastMonth)));
    double total = 0;
    double total2 = 0;
    double totalLaptop = 0;
    double totalPhuKien = 0;
    //Tính doanh thu theo từng tháng
    List<double> listTotal = new List<double>();
    List<double> listTotal2 = new List<double>();
    for (int i = 1; i <= 12; i++)
    {
        total = Convert.ToDouble(Order.Where(m => m.oder_date.Month == i && m.oder_date.Year == DateTime.Now.Year).Sum(m => m.total)); //Total này là tổng doanh thu của tháng đó
        total2 = Convert.ToDouble(Order.Where(m => m.oder_date.Month == i && m.oder_date.Year == DateTime.Now.Year - 1).Sum(m => m.total)); // Total2 này là tổng doanh thu của tháng đó của năm trước
        listTotal.Add(total);
        listTotal2.Add(total2);
    }
    string prePageIcon = "<i class='previous'></i>";
    string nextPageIcon = "<i class='next'></i>";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
<!--begin::toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Thống kê</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="h-20px border-gray-300 border-start mx-4"></span>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a class="text-muted text-hover-primary">Bảng điều khiển</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-300 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-dark">Thống kê</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <!--begin::Row-->
        <div class="row g-5 g-xl-10 mb-xl-10">
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
                <!--begin::Card widget 4-->
                <div class="card card-flush h-md-50 mb-5 mb-xl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center">
                                <!--begin::Currency-->
                                <span class="fs-4 fw-bold text-gray-400 me-1 align-self-start">₫</span>
                                <!--end::Currency-->
                                <!--begin::Amount-->
                                <span class="fs-2hx fw-bolder text-dark me-2 lh-1">@Order.Where(m => m.oder_date.Month == DateTime.Now.Month && m.oder_date.Year == DateTime.Now.Year).Sum(m => m.total).ToString("#,0", culture.NumberFormat)</span>
                                <!--end::Amount-->
                                <!--begin::Badge-->
                                @if (totalPriceOrderLastMonth < totalPriceOrderThisMonth)
                                {
                                    <span class="badge badge-success fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr067.svg-->
                                        <span class="svg-icon svg-icon-7 svg-icon-white ms-n1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.5" d="M13 9.59998V21C13 21.6 12.6 22 12 22C11.4 22 11 21.6 11 21V9.59998H13Z" fill="black" />
                                                <path d="M5.7071 7.89291C5.07714 8.52288 5.52331 9.60002 6.41421 9.60002H17.5858C18.4767 9.60002 18.9229 8.52288 18.2929 7.89291L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L5.7071 7.89291Z" fill="black" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->@((percentPriceOrder-1).ToString("0%"))
                                    </span>
                                    <!--end::Badge-->
                                }
                                else
                                {
                                    <span class="badge badge-danger fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr067.svg-->
                                        <span class="svg-icon svg-icon-7 svg-icon-white ms-n1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.5" d="M13 14.4V3.00003C13 2.40003 12.6 2.00003 12 2.00003C11.4 2.00003 11 2.40003 11 3.00003V14.4H13Z" fill="black" />
                                                <path d="M5.7071 16.1071C5.07714 15.4771 5.52331 14.4 6.41421 14.4H17.5858C18.4767 14.4 18.9229 15.4771 18.2929 16.1071L12.7 21.7C12.3 22.1 11.7 22.1 11.3 21.7L5.7071 16.1071Z" fill="black" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon--> @((percentPriceOrder-1).ToString("0%"))
                                    </span>
                                    <!--end::Badge-->
                                }
                            </div>
                            <!--end::Info-->
                            <!--begin::Subtitle-->
                            <span class="text-gray-400 pt-1 fw-bold fs-6">Ước tính doanh thu</span>
                            <!--end::Subtitle-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-2 pb-4 d-flex align-items-center">
                        <!--begin::Labels-->
                        <div class="d-flex flex-column content-justify-center">
                            @foreach (var order in Order)
                            {
                                foreach (var orderDetail in OrderDetail)
                                {
                                    if (orderDetail.order_id == order.order_id && order.oder_date.Month == DateTime.Now.Month && order.oder_date.Year == DateTime.Now.Year)
                                    {
                                        if (orderDetail.Product.type == 1)
                                        {
                                            //tính tổng tiền của riêng laptop trong detail
                                            totalLaptop += orderDetail.Product.price * orderDetail.quantity;
                                        }
                                        else if (orderDetail.Product.type == 2)
                                        {
                                            totalPhuKien += orderDetail.Product.price * orderDetail.quantity;
                                        }
                                    }
                                }
                            }
                            <!--begin::Label-->
                            <div class="d-flex fs-6 fw-bold align-items-center">
                                <!--begin::Bullet-->
                                <div class="bullet w-8px h-6px rounded-2 bg-danger me-3"></div>
                                <!--end::Bullet-->
                                <!--begin::Label-->
                                <div class="text-gray-500 pe-1">Laptop</div>
                                <!--end::Label-->
                                <!--begin::Stats-->
                                <div class="ms-auto fw-boldest text-gray-700 min-w-70px text-end">@totalLaptop.ToString("#,0₫", culture.NumberFormat)</div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Label-->
                            <!--begin::Label-->
                            <div class="d-flex fs-6 fw-bold align-items-center my-3">
                                <!--begin::Bullet-->
                                <div class="bullet w-8px h-6px rounded-2 bg-primary me-3"></div>
                                <!--end::Bullet-->
                                <!--begin::Label-->
                                <div class="text-gray-500 pe-1">P.Kiện</div>
                                <!--end::Label-->
                                <!--begin::Stats-->
                                <div class="ms-auto fw-boldest text-gray-700 min-w-70px text-end">@totalPhuKien.ToString("#,0₫", culture.NumberFormat)</div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Label-->
                        </div>
                        <!--end::Labels-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card widget 4-->
                <!--begin::Card widget 5-->
                <div class="card card-flush h-md-50 mb-xl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center">
                                <!--begin::Amount-->
                                <span class="fs-2hx fw-bolder text-dark me-2 lh-1">
                                    @Order.Where(m => m.oder_date.Month == DateTime.Now.Month && m.oder_date.Year == DateTime.Now.Year).Count()
                                </span>
                                <!--end::Amount-->
                                @if (totalOrderThisMonth < totalOrderLastMonth)
                                {
                                    <!--begin::Badge-->

                                    <span class="badge badge-danger fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr068.svg-->
                                        <span class="svg-icon svg-icon-7 svg-icon-white ms-n1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.5" d="M13 14.4V3.00003C13 2.40003 12.6 2.00003 12 2.00003C11.4 2.00003 11 2.40003 11 3.00003V14.4H13Z" fill="black" />
                                                <path d="M5.7071 16.1071C5.07714 15.4771 5.52331 14.4 6.41421 14.4H17.5858C18.4767 14.4 18.9229 15.4771 18.2929 16.1071L12.7 21.7C12.3 22.1 11.7 22.1 11.3 21.7L5.7071 16.1071Z" fill="black" />
                                            </svg>
                                            <!--end::Svg Icon--> <span>@((1-percentOrder).ToString("0.0%"))</span>
                                        </span>
                                    </span>
                                    <!--end::Badge-->
                                }
                                else
                                {
                                    <!--begin::Badge-->
                                    <span class="badge badge-success fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr068.svg-->
                                        <span class="svg-icon svg-icon-7 svg-icon-white ms-n1">
                                            <!--end::Svg Icon-->
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.5" d="M13 9.59998V21C13 21.6 12.6 22 12 22C11.4 22 11 21.6 11 21V9.59998H13Z" fill="black" />
                                                <path d="M5.7071 7.89291C5.07714 8.52288 5.52331 9.60002 6.41421 9.60002H17.5858C18.4767 9.60002 18.9229 8.52288 18.2929 7.89291L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L5.7071 7.89291Z" fill="black" />
                                            </svg>
                                            <span>@((percentOrder-1).ToString("0.0%"))</span>
                                        </span>
                                    </span>
                                    <!--end::Badge-->
                                }
                            </div>
                            <!--end::Info-->
                            <!--begin::Subtitle-->
                            <span class="text-gray-400 pt-1 fw-bold fs-6">Đơn hàng trong tháng</span>
                            <!--end::Subtitle-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body d-flex align-items-end pt-0">
                        <!--begin::Progress-->
                        <div class="d-flex align-items-center flex-column mt-3 w-100">
                            @if (totalOrderThisMonth < totalOrderLastMonth)
                            {
                                <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                                    <span class="fw-boldest fs-6 text-dark">
                                        <span>Còn @(totalOrderLastMonth-totalOrderThisMonth) đơn hàng nữa</span>
                                    </span>
                                    <span class="fw-bolder fs-6 text-gray-400">@percentOrder.ToString("0.0%")</span>
                                </div>
                                <div class="h-8px mx-3 w-100 bg-light-success rounded">
                                    <div class="bg-success rounded h-8px" role="progressbar" style="width: @percentOrder.ToString("0.0%");" aria-valuenow="@percentOrder.ToString("0.0%")" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            }
                        </div>
                        <!--end::Progress-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card widget 5-->
            </div>
            <!--begin::Col-->
            <div class="col-xl-6 mb-md-5 mb-xl-10">
                <!--begin::Tables widget 2-->
                <div class="card h-md-100">
                    <!--begin::Header-->
                    <div class="card-header align-items-center border-0">
                        <!--begin::Title-->
                        <h3 class="fw-bolder text-gray-900 m-0">Sản phẩm bán ra gần đây</h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-2">
                        <!--begin::Nav-->
                        <ul class="nav nav-pills nav-pills-custom mb-3">
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden active w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_2">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <img alt="" src="/Images/Admin/assets/media/svg/products-categories/gaming.svg" class="" />
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-700 fw-bolder fs-6 lh-1">Laptop</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <li class="nav-item mb-3 me-3 me-lg-6">
                                <!--begin::Link-->
                                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-80px h-85px py-4" data-bs-toggle="pill" href="#kt_stats_widget_2_tab_3">
                                    <!--begin::Icon-->
                                    <div class="nav-icon">
                                        <img alt="" src="/Images/Admin/assets/media/svg/products-categories/watch.svg" class="" />
                                    </div>
                                    <!--end::Icon-->
                                    <!--begin::Subtitle-->
                                    <span class="nav-text text-gray-600 fw-bolder fs-6 lh-1">P.kiện</span>
                                    <!--end::Subtitle-->
                                    <!--begin::Bullet-->
                                    <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                                    <!--end::Bullet-->
                                </a>
                                <!--end::Link-->
                            </li>
                            <!--end::Item-->
                        </ul>
                        <!--end::Nav-->
                        <!--begin::Tab Content-->
                        <div class="tab-content">
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade show active" id="kt_stats_widget_2_tab_2">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                                <th class="ps-0 w-50px">Item</th>
                                                <th class="min-w-140px"></th>
                                                <th class="text-end min-w-140px">SL</th>
                                                <th class="pe-0 text-end min-w-120px">Đơn giá</th>
                                                <th class="pe-0 text-end min-w-120px">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            @foreach (var laptop in ListOrderDetail)
                                            {
                                                if (laptop.Product.type == 1)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@laptop.Product.image" class="w-50px ms-n1" alt="" />
                                                        </td>
                                                        <td class="ps-0">
                                                            <a target="_blank" href="~/@SlugGenerator.SlugGenerator.GenerateSlug(laptop.Product.product_name)-@laptop.product_id" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@laptop.Product.product_name</a>
                                                            <span class="text-gray-400 fw-bold fs-7 d-block text-start ps-0">Item: #@laptop.product_id</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-gray-800 fw-bolder d-block fs-6 ps-0 text-end">x<span>@laptop.quantity</span></span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@laptop.price.ToString("#,0₫", culture.NumberFormat)</span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@((laptop.price*laptop.quantity).ToString("#,0₫", culture.NumberFormat))</span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                </div>
                                <!--end::Table-->
                            </div>
                            <!--end::Tap pane-->
                            <!--begin::Tap pane-->
                            <div class="tab-pane fade" id="kt_stats_widget_2_tab_3">
                                <!--begin::Table container-->
                                <div class="table-responsive">
                                    <!--begin::Table-->
                                    <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                                        <!--begin::Table head-->
                                        <thead>
                                            <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                                <th class="ps-0 w-50px">Item</th>
                                                <th class="min-w-140px"></th>
                                                <th class="text-end min-w-140px">SL</th>
                                                <th class="pe-0 text-end min-w-120px">Đơn giá</th>
                                                <th class="pe-0 text-end min-w-120px">Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <!--end::Table head-->
                                        <!--begin::Table body-->
                                        <tbody>
                                            @foreach (var accessory in ListOrderDetail)
                                            {
                                                if (accessory.Product.type == 2)
                                                {
                                                    <tr>
                                                        <td>
                                                            <img src="@accessory.Product.image" class="w-50px ms-n1" alt="" />
                                                        </td>
                                                        <td class="ps-0">
                                                            <a target="_blank" href="~/@SlugGenerator.SlugGenerator.GenerateSlug(accessory.Product.product_name)-@accessory.product_id" class="text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0">@accessory.Product.product_name</a>
                                                            <span class="text-gray-400 fw-bold fs-7 d-block text-start ps-0">Item: #@accessory.product_id</span>
                                                        </td>
                                                        <td>
                                                            <span class="text-gray-800 fw-bolder d-block fs-6 ps-0 text-end">x<span>@accessory.quantity</span></span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@accessory.price.ToString("#,0₫", culture.NumberFormat)</span>
                                                        </td>
                                                        <td class="text-end pe-0">
                                                            <span class="text-gray-800 fw-bolder d-block fs-6">@((accessory.price* accessory.quantity).ToString("#,0₫", culture.NumberFormat))</span>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                        <!--end::Table body-->
                                    </table>
                                </div>
                                <!--end::Table-->
                            </div>
                            <!--end::Tap pane-->
                        </div>
                        <!--end::Tab Content-->
                    </div>
                    <!--end: Card Body-->
                </div>
                <!--end::Tables widget 2-->
            </div>
            <!--end::Col-->
            <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
                <!--begin::Card widget 6-->
                <div class="card card-flush h-md-50 mb-5 mb-xl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5" style="height:200px">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">
                            <!--begin::Info-->
                            <div class="d-flex align-items-center">
                                <!--begin::Currency-->
                                <span class="fs-4 fw-bold text-gray-400 me-1 align-self-start">₫</span>
                                <!--end::Currency-->
                                <!--begin::Amount-->
                                <span class="fs-2hx fw-bolder text-dark me-2 lh-1">@Order.Where(m => m.oder_date.Day == DateTime.Now.Day && m.oder_date.Month == DateTime.Now.Month && m.oder_date.Year == DateTime.Now.Year).Sum(m => m.total).ToString("#,0", culture.NumberFormat)</span>
                                <!--end::Amount-->
                                <!--begin::Badge-->
                                <!--<span class="badge badge-success fs-6 lh-1 py-1 px-2 d-flex flex-center" style="height: 22px">-->
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr067.svg-->
                                <!--<span class="svg-icon svg-icon-7 svg-icon-white ms-n1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path opacity="0.5" d="M13 9.59998V21C13 21.6 12.6 22 12 22C11.4 22 11 21.6 11 21V9.59998H13Z" fill="black" />
                                        <path d="M5.7071 7.89291C5.07714 8.52288 5.52331 9.60002 6.41421 9.60002H17.5858C18.4767 9.60002 18.9229 8.52288 18.2929 7.89291L12.7 2.3C12.3 1.9 11.7 1.9 11.3 2.3L5.7071 7.89291Z" fill="black" />
                                    </svg>
                                </span>-->
                                <!--end::Svg Icon-->
                                <!--2.6%
                                </span>-->
                                <!--end::Badge-->
                            </div>
                            <!--end::Info-->
                            <!--begin::Subtitle-->
                            <span class="text-gray-400 pt-1 fw-bold fs-6">Doanh số bán hàng hằng ngày</span>
                            <!--end::Subtitle-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body d-flex align-items-end px-0 pb-0">
                        <!--begin::Chart-->
                        @*<div id="kt_card_widget_6_chart" class="w-100" style="height: 80px"></div>*@
                        <!--end::Chart-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card widget 6-->
                @*begin::Card widget 7*@
                <div class="card card-flush h-md-50 mb-xl-10">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">
                            <!--begin::Amount-->
                            <span class="fs-2hx fw-bolder text-dark me-2 lh-1">@ViewBag.SoNguoiTruyCap</span>
                            <!--end::Amount-->
                            <!--begin::Subtitle-->
                            <span class="text-gray-400 pt-1 fw-bold fs-6">Số người truy cập</span>
                            <!--end::Subtitle-->
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-column justify-content-end">
                        <!--begin::Title-->
                        <span class="fs-6 fw-boldest text-gray-800 d-block mb-2">Online hôm nay</span>
                        <!--end::Title-->
                        <!--begin::Users group-->
                        <div class="symbol-group symbol-hover">
                            <h3>@ViewBag.SoNguoiDangOnline</h3>
                        </div>
                        <!--end::Users group-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card widget 7-->
            </div>
        </div>
        <!--end::Row-->
        <div class="row g-5 g-xl-10 mb-xl-10">
            <canvas id="myChart"></canvas>
        </div>
        <!--begin::Row-->
        <div class="row gy-5 g-xl-10">
            <!--begin::Col-->
            <div class="col-xl-4 mb-xl-10">
                <!--begin::Engage widget 1-->
                <div class="card h-md-100">
                    <!--begin::Body-->
                    <div class="card-body d-flex flex-column flex-center">
                        <!--begin::Heading-->
                        <div class="mb-2">
                            <!--begin::Title-->
                            <h1 class="fw-bold text-gray-800 text-center lh-lg">
                                Have you tried
                                <br />new
                                <span class="fw-boldest">eCommerce App ?</span>
                            </h1>
                            <!--end::Title-->
                            <!--begin::Illustration-->
                            <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom h-200px mh-200px my-5 my-lg-12" style="background-image:url('/Images/Admin/assets/media/svg/illustrations/easy/2.svg')"></div>
                            <!--end::Illustration-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Links-->
                        <div class="text-center">
                            <!--begin::Link-->
                            <a class="btn btn-sm btn-primary me-2" href="@Url.Action("Index","ProductsAdmin")">View App</a>
                            <!--end::Link-->
                            <!--begin::Link-->
                            <a class="btn btn-sm btn-light" href="@Url.Action("Index","ProductsAdmin")">New Product</a>
                            <!--end::Link-->
                        </div>
                        <!--end::Links-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Engage widget 1-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-8 mb-5 mb-xl-10">
                <!--begin::Table Widget 4-->
                <div class="card card-flush h-xl-100">
                    <!--begin::Card header-->
                    <div class="card-header pt-7">
                        <!--begin::Title-->
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bolder text-dark">Đơn đặt hàng</span>
                        </h3>
                        <!--end::Title-->
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body">
                        <div class="filter">
                            <!--From ... To ... Button Filter-->
                            <div class="row mb-12">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control" placeholder="Từ ngày" id="kt_datepicker_1" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control" placeholder="Đến ngày" id="kt_datepicker_2" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button onclick="filter()" type="button" class="btn btn-primary">Lọc</button>
                                    <a href="#" id="btnExportExcel" class="btn btn-light-success me-3">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                                        <span class="svg-icon svg-icon-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" zoomAndPan="magnify" viewBox="0 0 30 30.000001" height="40" preserveAspectRatio="xMidYMid meet" version="1.0"><defs><clipPath id="id1"><path d="M 2.742188 3.484375 L 27.417969 3.484375 L 27.417969 25.257812 L 2.742188 25.257812 Z M 2.742188 3.484375 " clip-rule="nonzero" /></clipPath></defs><g clip-path="url(#id1)"><path fill="rgb(49.798584%, 72.938538%, 0%)" d="M 15.082031 3.484375 L 2.742188 5.902344 L 2.742188 22.839844 L 15.082031 25.257812 Z M 17.546875 5.902344 L 17.546875 8.324219 L 20.015625 8.324219 L 20.015625 10.742188 L 17.546875 10.742188 L 17.546875 13.160156 L 20.015625 13.160156 L 20.015625 15.582031 L 17.546875 15.582031 L 17.546875 18 L 20.015625 18 L 20.015625 20.417969 L 17.546875 20.417969 L 17.546875 22.839844 L 27.417969 22.839844 L 27.417969 5.902344 Z M 22.484375 8.324219 L 24.953125 8.324219 L 24.953125 10.742188 L 22.484375 10.742188 Z M 5.425781 9.890625 L 7.621094 9.890625 L 8.757812 12.570312 C 8.851562 12.789062 8.921875 13.042969 8.992188 13.332031 L 9.023438 13.332031 C 9.066406 13.160156 9.148438 12.894531 9.273438 12.550781 L 10.542969 9.890625 L 12.542969 9.890625 L 10.15625 14.332031 L 12.613281 18.851562 L 10.480469 18.851562 L 9.105469 15.929688 C 9.054688 15.828125 8.992188 15.621094 8.941406 15.332031 L 8.921875 15.332031 C 8.890625 15.46875 8.832031 15.675781 8.738281 15.953125 L 7.351562 18.851562 L 5.210938 18.851562 L 7.753906 14.367188 Z M 22.484375 13.160156 L 24.953125 13.160156 L 24.953125 15.582031 L 22.484375 15.582031 Z M 22.484375 18 L 24.953125 18 L 24.953125 20.417969 L 22.484375 20.417969 Z M 22.484375 18 " fill-opacity="1" fill-rule="nonzero" /></g></svg>
                                        </span>
                                        <!--end::Svg Icon-->Export Excel
                                    </a>
                                </div>

                            </div>
                            <form>
                                <input id="search" type="search" name="search" class="form-control form-control-solid w-250px ps-14" placeholder="Tìm kiếm đơn hàng...">
                            </form>
                            <!--begin::Table-->
                            <table id="example" class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                                <!--begin::Table head-->
                                <thead>
                                    <!--begin::Table row-->
                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                        <th class="min-w-100px">Order ID</th>
                                        <th class="text-end min-w-100px">Ngày tạo</th>
                                        <th class="text-end min-w-125px">Khách hàng</th>
                                        <th class="text-end min-w-125px">Số điện thoại</th>
                                        <th class="text-end min-w-100px">Tổng cộng</th>
                                        <th class="text-end min-w-50px">Status</th>
                                        <th class="text-end"></th>
                                    </tr>
                                    <!--end::Table row-->
                                </thead>
                                <!--end::Table head-->
                                <!--begin::Table body-->
                                <tbody id="productTableBody" class="fw-bolder text-gray-600">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a class="text-gray-600 fw-bold" target="_blank" href="@Url.Action("Details","Orders",new { id = item.order_id})">#@item.order_id</a>
                                            </td>
                                            <td class="text-end">@item.oder_date.ToString("HH:mm dd-MM-yyyy")</td>
                                            <td class="text-end">
                                                <a class="text-gray-600 text-hover-primary" target="_blank" href="@Url.Action("Details","Auth",new { id = item.order_id})">@item.OrderAddress.orderUsername</a>
                                            </td>
                                            <td class="text-end">@item.OrderAddress.orderPhonenumber</td>
                                            <td class="text-end">@item.total.ToString("#,0₫", culture.NumberFormat)</td>
                                            <td class="text-end">
                                                @if (item.status == "1")
                                                {
                                                    <span class="badge py-3 px-4 fs-7 badge-light-warning">Chờ xử lý</span>
                                                }
                                                else if (item.status == "2")
                                                {
                                                    <span class="badge py-3 px-4 fs-7 badge-light-info">Đang xử lý</span>
                                                }
                                                else if (item.status == "3")
                                                {
                                                    <span class="badge py-3 px-4 fs-7 badge-light-success">Hoàn thành</span>
                                                }
                                                else
                                                {
                                                    <span class="badge py-3 px-4 fs-7 badge-light-danger">Đã hủy</span>
                                                }
                                            </td>
                                            <td class="text-end">
                                                <button type="button" class="btn btn-sm btn-icon btn-light btn-active-light-primary toggle h-25px w-25px" data-kt-table-widget-4="expand_row">
                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
                                                    <span class="svg-icon svg-icon-3 m-0 toggle-off">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="black" />
                                                            <rect x="6" y="11" width="12" height="2" rx="1" fill="black" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr089.svg-->
                                                    <span class="svg-icon svg-icon-3 m-0 toggle-on">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <rect x="6" y="11" width="12" height="2" rx="1" fill="black" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <!--end::Table body-->
                            </table>
                            <!--end::Table-->
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                            </div>
                            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                                <div id="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { search = @ViewBag.search, start = @ViewBag.start, end = @ViewBag.end, page }), new PagedListRenderOptions
                               {
                                   LinkToPreviousPageFormat = prePageIcon,
                                   LinkToNextPageFormat = nextPageIcon,
                                   DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                   DisplayLinkToLastPage = PagedListDisplayMode.Never,
                                   DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                   DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                   MaximumPageNumbersToDisplay = 10
                               })
                                </div>
                            </div>
                        </div>
                        <!--end::Card body-->
                    </div>
                    <!--end::Table Widget 4-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
        </div>
        <!--end::Container-->
    </div>
    <script>
    //convert listTotal và listTotal2 sang javascript
    var listTotal = @Html.Raw(Json.Encode(@listTotal));
    var listTotal2 = @Html.Raw(Json.Encode(@listTotal2));
    console.log(listTotal);
    console.log(listTotal2);
    var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar', //bar là biểu đồ cột
            data: {
                labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                datasets: [{
                    label: 'Doanh thu tháng này',
                    data: listTotal,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', //màu của cột
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)', //màu viền của cột
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }, {
                    label: 'Doanh thu tháng trước',
                    data: listTotal2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', //màu của cột
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)', //màu viền của cột
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true //bắt đầu từ 0
                    }
                }
            }
        });

        function filter() {
            var from = document.getElementById("kt_datepicker_1").value;
            var to = document.getElementById("kt_datepicker_2").value;
            $.ajax({
                url: "/Admin/DashBoards/Index",
                type: "Get",
                data: {
                    start: from,
                    end: to
                },
                success: function (response) {
                    var newTableBody = $(response).find("#productTableBody").html();
                    var newpagination = $(response).find("#pagination").html();
                    console.log(newTableBody);
                    console.log(newpagination);
                    $("#productTableBody").html(newTableBody); // Cập nhật nội dung của bảng sản phẩm
                    $("#pagination").html(newpagination);
                }
            });
        }

        $(document).ready(function () {
            // Xử lý sự kiện khi người dùng chuyển trang
            $(document).on("click", ".pagination a", function (event) {
                event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

                var url = $(this).attr("href"); // Lấy URL của trang mới
                var pageNumber = getParameterByName("page", url); // Lấy số trang từ URL

                // Gửi yêu cầu Ajax đến server
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function (result) {
                        var newTableBody = $(result).find("#productTableBody").html();
                        console.log(newTableBody);
                        $("#productTableBody").html(newTableBody); // Cập nhật nội dung của bảng sản phẩm
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText); // Xử lý lỗi nếu có
                    }
                });

                //Bôi đen thẻ <a> đang được chọn
                $(this).parent("li").addClass("active");
                //Xóa bôi đen thẻ <a> đang được chọn
                $(this).parent("li").siblings().removeClass("active");
            });

            // Hàm trợ giúp lấy giá trị của tham số từ URL
            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
        });

        $(document).ready(function () {
            //xử lý sự kiện khi người dùng nhập vào ô tìm kiếm
            $("#search").keyup(function () {
                var keyword = $(this).val(); //lấy nội dung người dùng nhập vào
                var start = document.getElementById("kt_datepicker_1").value;
                var end = document.getElementById("kt_datepicker_2").value;
                $.ajax({
                    url: "/Admin/DashBoards/Index",
                    type: "Get",
                    data: {
                        search: keyword,
                        start: start,
                        end: end
                    },
                    success: function (response) {
                        var newTableBody = $(response).find("#productTableBody").html();
                        var newpagination = $(response).find("#pagination").html();
                        console.log(newTableBody);
                        console.log(newpagination);
                        $("#productTableBody").html(newTableBody); // Cập nhật nội dung của bảng sản phẩm
                        $("#pagination").html(newpagination);
                    }
                });
            });
        });

        $('#btnExportExcel').on('click', function () {
            var from = document.getElementById("kt_datepicker_1").value;
            var to = document.getElementById("kt_datepicker_2").value;
            $.ajax({
                url: '/Admin/DashBoards/ExportExcel',
                type: 'GET',
                data: {
                    start: from,
                    end: to
                },
                datatype: 'json',
                success: function (res) {
                    location.href = res;
                }
            })
        });
    </script>
    <link href="~/Content/AdminCSS/PagedList.css" rel="stylesheet" />
    <!--end::Post-->
    @section scripts{
        <script src="~/Scripts/AdminJS/vis-timeline.bundle.js"></script>
        <script src="~/Scripts/AdminJS/widgets.bundle.js"></script>
    }
