@using PagedList.Mvc
@using DoAn_LapTrinhWeb.Common.Helpers
@model PagedList.PagedList<DoAn_LapTrinhWeb.Models.Account>
@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
    string requestUrl = Request.Url.Scheme + "://" + Request.Url.Authority;
    string prePageIcon = "<i class='previous'></i>";
    string nextPageIcon = "<i class='next'></i>";

    //Get all roles from database
    using (var db = new DbContext())
    {
        var roles = db.Roles.ToList();
        ViewBag.Roles = roles;
    }
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--begin::toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Danh sách tài khoản</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="h-20px border-gray-300 border-start mx-4"></span>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a class="text-muted text-hover-primary">Tài khoản</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-300 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-dark">Danh sách tài khoản</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::toolbar-->
<!--begin::container-fluid-->
<div class="d-flex flex-column-fluid">
    <div class="container  ">
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="black"></rect>
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="black"></path>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <form>
                            <input type="search" name="search" class="form-control form-control-solid w-250px ps-14" placeholder="Tìm kiếm tài khoản...">
                        </form>
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                        <!--begin::Filter-->
                        <!--<button type="button" class="btn btn-light-success me-3" data-toggle="modal" data-target="#exampleModal">
                            <span class="svg-icon svg-icon-2">
                                <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M947.2 813.568h-68.608c-13.312-25.6-37.376-76.8-37.376-103.936 0-10.752 4.096-16.384 11.776-26.624 13.312-17.92 31.744-42.496 31.744-108.032 0-66.56-53.76-120.32-120.32-120.32s-120.32 53.76-120.32 120.32c0 65.024 18.432 90.112 31.744 108.032 7.68 10.24 11.776 15.872 11.776 26.624 0 27.136-24.064 78.336-37.376 103.936h-87.04c-36.864 0-66.56 26.624-66.56 59.904v80.384c0 33.28 29.696 59.904 66.56 59.904h384c36.864 0 66.56-26.624 66.56-59.904v-80.384c0-32.768-29.696-59.904-66.56-59.904z m-228.864-103.936c0-20.992-9.216-33.28-17.92-45.056-12.288-16.384-25.6-34.304-25.6-89.6 0-49.152 40.448-89.6 89.6-89.6s89.6 40.448 89.6 89.6c0 54.784-13.824 73.216-25.6 89.6-8.704 11.776-17.92 24.064-17.92 45.056 0 30.72 19.968 76.288 33.792 103.936h-159.232c13.312-27.136 33.28-73.216 33.28-103.936zM983.04 953.856c0 15.872-15.872 29.184-35.84 29.184h-384c-19.968 0-35.84-13.312-35.84-29.184v-80.384c0-15.872 15.872-29.184 35.84-29.184h384c19.968 0 35.84 13.312 35.84 29.184v80.384z" /><path d="M779.776 289.28v-2.048-1.024c0-1.024-0.512-1.536-1.024-2.56 0 0 0-0.512-0.512-0.512-0.512-0.512-0.512-1.024-1.024-2.048 0-0.512-0.512-0.512-0.512-0.512-0.512-0.512-0.512-1.024-1.024-1.536l-0.512-0.512-0.512-0.512-295.424-264.704c-4.096-3.584-9.216-4.608-14.336-3.584H76.8c-36.864 0-66.56 29.696-66.56 66.56v870.4c0 36.864 29.696 66.56 66.56 66.56h318.464c8.704 0 15.36-6.656 15.36-15.36s-6.656-15.36-15.36-15.36H76.8c-19.968 0-35.84-15.872-35.84-35.84v-870.4c0-19.968 15.872-35.84 35.84-35.84h376.832v197.632c0 36.864 29.696 66.56 66.56 66.56h228.864v83.456c0 8.704 6.656 15.36 15.36 15.36s15.36-6.656 15.36-15.36v-98.816c0 0.512 0 0.512 0 0z m-259.584-14.848c-19.968 0-35.84-15.872-35.84-35.84v-179.2l240.128 215.04h-204.288z" /><path d="M469.504 484.864h-327.68c-8.704 0-15.36-6.656-15.36-15.36s6.656-15.36 15.36-15.36h327.68c8.704 0 15.36 6.656 15.36 15.36s-6.656 15.36-15.36 15.36zM469.504 716.8h-327.68c-8.704 0-15.36-6.656-15.36-15.36s6.656-15.36 15.36-15.36h327.68c8.704 0 15.36 6.656 15.36 15.36s-6.656 15.36-15.36 15.36z" /></svg>
                            </span>
                            Phân quyền
                        </button>-->

                        <!-- Modal -->
                        <!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Danh sách nhóm người dùng</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-bg-success">
                                            Thêm Quyền
                                        </button>-->
                                        <!-- Modal -->
                                        <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <label>Thêm quyền:</label>
                                                        <input type="text" class="form-control text-center" id="new-role-name" placeholder="Nhập tên quyền">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary" onclick="AddNewRole()">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer display" id="list-role" style="width:100%">
                                            <thead>
                                                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                                    <th class="min-w-50px" tabindex="1" arowspan="1" colspan="1" style="width:50px;">ID</th>
                                                    <th class="min-w-150px" tabindex="2" rowspan="1" colspan="1" style="width:150px;">Quyền</th>
                                                    <th class="text-end min-w-100px sorting_disabled" rowspan="1" colspan="1" style="width: 130.25px;">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody id="role-list">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <a href="@Url.Action("Trash","Auth")" class="btn btn-light-danger me-3">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z" fill="black" />
                                    <path opacity="0.5" d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z" fill="black" />
                                    <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->Thùng rác (<span id="count-trash">@ViewBag.countTrash</span>)
                        </a>
                        <!--end::Filter-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body py-4">
                <!--begin::Table-->
                <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="list-product">
                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                    <th class="min-w-50px" tabindex="1" arowspan="1" colspan="1" style="width:50px;">ID</th>
                                    <th class="min-w-150px" tabindex="2" rowspan="1" colspan="1" style="width:150px;">Họ tên</th>
                                    <th class="min-w-125px" tabindex="5" rowspan="1" colspan="1" style="width:100px;">Email</th>
                                    <th class="min-w-125px" tabindex="5" rowspan="1" colspan="1" style="width:120px;">Số điện thoại</th>
                                    <th class="min-w-125px" tabindex="5" rowspan="1" colspan="1" style="width:120px;">Ngày tạo</th>
                                    <th class="min-w-125px" tabindex="5" rowspan="1" colspan="1" style="width:120px;">Quyền</th>
                                    <th class="text-end min-w-100px sorting_disabled" rowspan="1" colspan="1" style="width: 130.25px;">Hành động</th>
                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody class="text-gray-600 fw-bold">
                                @foreach (var item in Model)
                                {
                                    <tr class="odd" id="item_@item.account_id">
                                        <td class="@(User.Identity.GetUserId() == item.account_id?"text-primary":"")">@item.account_id </td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@item.create_at.ToString("HH:mm dd-MM-yyyy")</td>
                                        <td>
                                            @if (User.Identity.GetUserId() == item.account_id)
                                            {
                                                <select disabled class="form-select form-select-solid">
                                                    <option>@(item.Role == 0 ? "Quản trị viên" : "Biên tập viên")</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select id="role-id-@item.account_id" onchange="changerole(@item.account_id)" class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true">
                                                    @foreach (var role in ViewBag.roles)
                                                    {
                                                        <option value="@role.role_id" @((role.role_id - 1) == item.Role ? "selected" : "")>@role.role_name</option>
                                                    }
                                                </select>
                                            }
                                        </td>
                                        <!--begin::Action=-->
                                        <td class="text-end">
                                            <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                Hành động
                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                <span class="svg-icon svg-icon-5 m-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </a>
                                            <!--begin::Menu-->
                                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="@Url.Action("Details","Auth",new {id = item.account_id })" class="menu-link px-3">Xem</a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a onclick="disableOpen(@item.account_id, '@item.Email')" class="menu-link px-3">Vô hiệu hóa</a>
                                                </div>
                                                <!--end::Menu item-->
                                            </div>
                                            <!--end::Menu-->
                                        </td>
                                        <!--end::Action=-->
                                    </tr>
                                }
                            </tbody>
                            <!--end::Table body-->
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                        </div>
                        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                            <div>
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { search = @ViewBag.search, page }), new PagedListRenderOptions
                           {
                               LinkToPreviousPageFormat = prePageIcon,
                               LinkToNextPageFormat = nextPageIcon,
                               DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                               DisplayLinkToLastPage = PagedListDisplayMode.Never,
                               DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                               DisplayLinkToNextPage = PagedListDisplayMode.Always,
                               MaximumPageNumbersToDisplay = 10
                           })
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
    </div>
</div>
<!--end::container-fluid-->
<!--begin::Modal - Disabled-->
<div class="modal fade" id="disable-modal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary dimis-modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="kt_modal_new_target_form" class="form" action="#">
                    <!--begin::Heading-->
                    <div class="mb-9 text-center">
                        <!--begin::Title-->
                        <i class="bi bi-x-circle text-danger" style="font-size:6rem"></i>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Label-->
                    <div class="mb-9 text-center">
                        <h2 style="color: #4c4b4b; font-size:2rem; font-weight:500;">Xác nhận vô hiệu hóa?</h2>
                    </div>
                    <!--end::Label-->
                    <!--begin::Label-->
                    <div class="mb-15 fw-bold text-center">
                        <div class="fs-4" style="color: #565656;">Vô hiệu hóa tài khoản "<span id="disable__name" class="text-primary">(Nội dung hiển thị)</span>"? Quá trình này không thể hoàn tác.</div>
                    </div>
                    <!--end::Label-->
                    <!--end::Price-->
                    <!--begin::Actions-->
                    <div class="text-center">
                        <button type="button" class="btn btn-light me-3 dimis-modal">Hủy bỏ</button>
                        <button type="button" id="disable__submit" class="btn btn-danger">Xác nhận</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Disabled-->
<link href="~/Content/AdminCSS/PagedList.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/AdminJS/auth.js"></script>
}





