<!-- Start Footer Section -->
<footer class="footer-section footer-bg section-top-gap-100">
    <div class="footer-wrapper">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row mb-n6">
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden"
                             data-aos="fade-up"
                             data-aos-delay="0">
                            <h5 class="title">THÔNG TIN</h5>
                            <ul class="footer-nav">
                                <li><!--Mail--> <a href="mailto:2021010104@sv.ufm.edu.vn">Liên hệ</a></li>
                                <li><a href="#">Quay Lại</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden"
                             data-aos="fade-up"
                             data-aos-delay="200">
                            <h5 class="title">TÀI KHOẢN</h5>
                            <ul class="footer-nav">
                                <li><a href="@Url.Action("Editprofile","Account")">Tài Khoản Của Tôi</a></li>
                                <li><a href="@Url.Action("TrackingOrder","Account")">Lịch sử mua hàng</a></li>
                                <li><a href="#">Sổ địa chỉ</a></li>
                                <li><a href="@Url.Action("ChangePassword","Account")">Đổi mật khẩu</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden"
                             data-aos="fade-up"
                             data-aos-delay="400">
                            <h5 class="title">DANH MỤC</h5>
                            <ul class="footer-nav">
                                <li><a href="@Url.Action("Laptop","Products")">Laptop</a></li>
                                <li><a href="@Url.Action("Accessories","Products")">Phụ kiện</a></li>
                            </ul>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                    <div class="col-lg-3 col-sm-6 mb-6">
                        <!-- Start Footer Single Item -->
                        <div class="footer-widget-single-item footer-widget-color--golden"
                             data-aos="fade-up"
                             data-aos-delay="600">
                            <h5 class="title">THÔNG TIN VỀ CHÚNG TÔI</h5>
                            <div class="footer-about">
                                <p>
                                    Chúng tôi là một nhóm sáng tạo tuyệt vời với những sản
                                    phẩm hiện đại tối giản và đẹp mắt.
                                </p>
                                <address class="address">
                                    <span>Địa chỉ: 475A Điện Biên Phủ, Phường 25, Quân Bình Thạnh, TP.HCM</span>
                                    <span>Email: 2021010104@sv.ufm.edu.vn</span>
                                </address>
                            </div>
                        </div>
                        <!-- End Footer Single Item -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <!-- Start Footer Center -->
        <!--<div class="footer-center">
            <div class="container">
                <div class="row mb-n6">-->
                    @*<div class="col-xl-3 col-lg-4 col-md-6 mb-6">
                        <div class="footer-social"
                             data-aos="fade-up"
                             data-aos-delay="0">
                        </div>
                    </div>*@
                    @*<div class="col-xl-7 col-lg-6 col-md-6 mb-6">
                        <div class="footer-newsletter"
                             data-aos="fade-up"
                             data-aos-delay="200">
                            <h4 class="title">ĐỪNG BỎ LỠ SẢN PHẨM MỚI NHẤT</h4>
                            <div class="form-newsletter">
                                <form action="#" method="post">
                                    <div class="form-fild-newsletter-single-item input-color--golden">
                                        <input type="email"
                                               placeholder="Địa chỉ Email của bạn..."
                                               required />
                                        <button type="submit">SUBSCRIBE!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@
                <!--</div>
            </div>
        </div>-->
        <!-- Start Footer Center -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                    <div class="col-auto mb-6">
                        <div class="footer-copyright">
                            <p class="copyright-text">
                                Copy Right &copy; 2022 By <a href="(@Url.Action("Index","Home"))">KizspyShop</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
    </div>
</footer>
<!-- End Footer Section -->